*{
    margin:0;
    padding:0;
}  
    body{
 
    background-color:#eee; 
    background-image: url('../assets/images/backgrounds/waterfall.gif');
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
   
    
}

section{
    
    width: 100vw;
    height: 250px;
}
section:first-child{
  background-color: red;
}

section:last-child{
    background-color: green;
}
section:first-child h1{
    text-align: center;
    font-size: 3em;
    color: #ccc;
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
    padding: 3em 1em;
    position: relative;
    bottom: 0;
}
   



img{
  
    position: relative;
    left:0;
}


    
